.signUp__belowNavbar {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: var(--component-margins);
  margin-bottom: var(--component-margins);
  
  align-items: center;
  justify-content: center;
  
  transition: all 500ms;
}

@media only screen and (max-width: 760px) {
  .signUp__belowNavbar {
    background-color: var(--fg-color);
  }
}
.signUp__block {
  display: flex;
  flex-direction: column;

  background-color: var(--fg-color);
  color: var(--font-color);

  justify-content: center;
  align-items: center;

  border-radius: var(--component-border-radius);
  width: 20rem;

  padding: var(--component-padding);
}

@media only screen and (max-width: 360px) {
  .signUp__block {
    width: calc(100% - 2 * var(--component-padding));;
  }
}

.signUp__subBlock {
  display: flex;
  flex-direction: column;
  width: 100%
}

.signUp__label {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.signUp__input {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: none;
  border-radius: var(--component-border-radius);
  outline: none;
  padding: var(--component-padding);
}

.signUp__below {
  display: flex;

  margin-top: var(--component-padding);
  align-items: center;
  justify-content: space-between;
}

.signUp__link {
  color: var(--fg-tint-color);
}

.signUp__button {
  margin-top: var(--component-margins);
  font-size: medium;
  outline: none;
  border: none;

  padding: 1rem;
  background-color: var(--bg-tint-color);
  color: var(--fg-tint-color);

  border-radius: var(--component-border-radius);

  cursor: pointer;
}

.signUp__button:hover {
  filter: brightness(0.95);
}

.signUp__button:active {
  filter: brightness(0.9);
}

.signUp__error {
  display: flex;
  justify-content: center;
  margin-top: var(--component-margins);
  
  font-size: small;
  color: var(--fg-tint-color);
}
