.passwordStrength__root {
    background-color: var(--bg-color);
    border-radius: var(--component-border-radius);
    margin-top: var(--component-margins);
    padding: var(--component-padding);

    /* Only doing this because material ui icons are weirdly shaped */
    padding-top: 0.75rem;
    padding-bottom: 0;
    
    font-size: small;
}

.passwordStrength__item {
    display: flex;
    align-items: center;
}

.passwordStrength__itemIcon {
    font-size: xx-small !important;
    margin-right: var(--component-margins);
}