.emotionIcons__root {
  display: flex;

  align-items: flex-start;
  justify-content: center;
  aspect-ratio: 1/1;
}

/* Block */
.emotionIcons__block {
  display: flex;
  width: 90%;
  aspect-ratio: 1/1;

  background-color: var(--bg-color);
  border-radius: var(--component-border-radius);

  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  transition: all 100ms;
}

.emotionIcons__block:hover {
  filter: brightness(1.01);
  filter: contrast(102.5%);
  transform: scale(1.05, 1.05);
}

.emotionIcons__block:active {
  filter: brightness(1.005);
  transform: scale(0.95, 0.95);
}
/* 
.emotionIcons__colorFirst {
  background-color: #c47490;
}

.emotionIcons__colorSecond {
  background-color: #c47490;
}

.emotionIcons__colorThird {
  background-color: #c47490;
}

.emotionIcons__colorFourth {
  
  background-color: #8f6edf;
}

.emotionIcons__colorFifth {
  
  background-color: #8f6edf;
}

.emotionIcons__colorSixth {
  
  background-color: #8f6edf;
}

.emotionIcons__colorSeventh {
  
  background-color: #00d181;
}

.emotionIcons__colorEight {
  
  background-color: #00d181;
}

.emotionIcons__colorNinth {
  
  background-color: #00d181;
} */