.emotionIcons__root {
  display: flex;

  align-items: flex-start;
  justify-content: center;
  aspect-ratio: 1/1;
}

/* Block */
.emotionIcons__block {
  display: flex;
  width: 90%;
  aspect-ratio: 1/1;

  background-color: var(--bg-color);
  border-radius: var(--component-border-radius);

  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  transition: all 100ms;
}

.emotionIcons__block:hover {
  filter: brightness(1.01);
  transform: scale(1.05, 1.05);
}

.emotionIcons__block:active {
  filter: brightness(1.005);
  transform: scale(0.95, 0.95);
}
